.house {
    &__text {
        margin-bottom: 20px;
        text-align: justify;
        text-justify: inter-word;
        padding-left: 35px;

        &__header {
            margin-bottom: 0px;
            padding-bottom: 10px;
            padding-left: 35px;
            color: #006884;
        }

        &__facts {
            border: 1px solid #888;
            box-shadow: 10px 10px 5px #888;
            margin-top: 25px;
            padding-bottom: 10px;
        }
    }

    &__thumpnail {
        margin-top: 20px;
        padding: 0px 15px 20px 15px;
        min-height: 100px;

        img {
            vertical-align: middle;
            max-height: 150px;
            margin: 10px 10px 10px 10px;
        }

        @media (max-width: 768px) {
            padding: 20px 20px;
        }
    }
    
}

.contact {
    &__header {
        color: #006884; 
    }
}

